<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/menu.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>| Agência de viagem |</title>
</head>

<body>
    <header>
        <nav>
          
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="#">Início</a></li>
            <li><a href="/pacotes">Pacotes</a></li>
            <li><a href="/cadastrarPacote">Cadastrar Pacotes</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </header>

    <section>
        <div class="slider">
            <div class="slides">
             
                <!-- Radio buttons -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <input type="radio" name="radio-btn" id="radio5">

                <!-- Imagens -->
                <div class="slide first">
                    <img src="assets/img/slide01.jpg" alt="Imagem 1">
                </div>
                <div class="slide">
                    <img src="assets/img/slide02.jpg" alt="Imagem 2">
                </div>
                <div class="slide">
                    <img src="assets/img/slide03.jpg" alt="Imagem 3">
                </div>
                <div class="slide">
                    <img src="assets/img/slide04.jpg" alt="Imagem 4">
                </div>
                <div class="slide">
                    <img src="assets/img/slide05.jpg" alt="Imagem 5">
                </div>
                <!-- Fim imagem -->

                <!-- Navegaçao auto -->
<a class="logo" href="/">Agência de viagens</a>

            </div>

            <div class="manual-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
                <label for="radio5" class="manual-btn"></label>
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
                
            </div>
        </div>
    </section>
    <section class="container">
        <div>
            <div class="destaques">
                <h2>Confira os nossos destaques</h2>
                <div class="box-pacotes">
                    <div class="box" data-anima="centro">

                        <img src="assets/img/pic01.jpg" alt="Pacote 1">
                        <h3>Auroras Boreais</h3>
                        <hr>
                        <p>
                            Explore as maravilhas das Auroras Boreais nesta viagem
                            inesquecível! Testemunhe a dança hipnotizante das luzes
                            coloridas no céu ártico enquanto desfruta de uma experiência única na vida
                        </p>
                        <button><a href="#">Saiba mais</a></button>
                    </div>
                    <div class="box" data-anima="centro">

                        <img src="assets/img/pic02.jpg" alt="Pacote 2">
                        <h3>Tuneis de Gelo</h3>
                        <hr>
                        <p>
                            Embarque em uma aventura única e deslumbrante pelos impressionantes tuneis de gelo. Nesta
                            jornada, você terá a oportunidade de explorar as maravilhas escondidas das
                            paisagens glaciais.
                        </p>
                        <button> <a href="#">Saiba mais</a></button>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="parallax">

        <p>Descubra o mundo conosco: onde cada destino é uma aventura e cada experiência é inesquecível.</p>
        <hr>
        <h2>Agência de Viagens</h2>
    </section>

    <section class="container">
        <div>
            <div class="destaques">
                <h2>Confira os nossos destaques</h2>
                <div class="box-pacotes">
                    <div class="box" data-anima="centro">

                        <img src="assets/img/pic01.jpg" alt="Pacote 1">
                        <h3>Auroras Boreais</h3>
                        <hr>
                        <p>
                            Explore as maravilhas das Auroras Boreais nesta viagem
                            inesquecível! Testemunhe a dança hipnotizante das luzes
                            coloridas no céu ártico enquanto desfruta de uma experiência única na vida
                        </p>
                        <button><a href="#">Saiba mais</a></button>
                    </div>
                    <div class="box" data-anima="centro">

                        <img src="assets/img/pic02.jpg" alt="Pacote 2">
                        <h3>Tuneis de Gelo</h3>
                        <hr>
                        <p>
                            Embarque em uma aventura única e deslumbrante pelos impressionantes tuneis de gelo. Nesta
                            jornada, você terá a oportunidade de explorar as maravilhas escondidas das
                            paisagens glaciais.
                        </p>
                        <button> <a href="#">Saiba mais</a></button>
                    </div>
                    <div class="box" data-anima="centro">

                        <img src="assets/img/pic03.jpg" alt="Pacote 1">
                        <h3>Auroras Boreais</h3>
                        <hr>
                        <p>
                            Explore as maravilhas das Auroras Boreais nesta viagem
                            inesquecível! Testemunhe a dança hipnotizante das luzes
                            coloridas no céu ártico enquanto desfruta de uma experiência única na vida
                        </p>
                        <button><a href="#">Saiba mais</a></button>
                    </div>

                    <div class="box" data-anima="centro">

                        <img src="assets/img/pic04.jpg" alt="Pacote 1">
                        <h3>Auroras Boreais</h3>
                        <hr>
                        <p>
                            Explore as maravilhas das Auroras Boreais nesta viagem
                            inesquecível! Testemunhe a dança hipnotizante das luzes
                            coloridas no céu ártico enquanto desfruta de uma experiência única na vida
                        </p>
                        <button><a href="#">Saiba mais</a></button>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <footer>
        <h2>Agência de Viagens</h2>
        <p>© 2024 Agência de Viagens. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
<script src="assets/js/script.js"></script>
<script src="assets/js/MobileMenu.js"></script>